<dom-module id="org-wall-style">
    <template>
        <style>
            header {
                display: none;
                /* Revealed in a mediaquery */
                font-weight: 700;
                text-transform: capitalize;
                font-size: 5rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-right: 5%;
            }

            employee-view {
                margin: 0.34rem;
                margin-top: 0;
                margin-left: 0;
            }

            .header-area {
                display: flex;
                flex-direction: row;
                width: 100%;
                font-size: 2.2rem;
                color: black;
                width: 80%;
                justify-content: space-between;
                margin-left: 20px;
                padding: 20px;
            }

            #myTable {
                border-collapse: collapse;
                width: 100%;
                border: 1px solid #ddd;
                font-size: 14px;
                font-family: cursive, sans-serif, Arial, Helvetica, sans-serif;
            }

            #myTable td {
                text-align: left;
                padding: 12px;
            }

            #myTable tr:hover {
                background-color: white;
            }

            #inputField {
                height: 40px;
                width: 100%;
            }

            .exitBtn {
                position: relative;
                border-radius: 8px;
                cursor: pointer;
                font-family: Arial;
                margin-left: inherit;
            }

            #screen-overlay {
                z-index: 50;
                background-color: rgba(256, 256, 256, 0.5);
                position: fixed;
                bottom: 0;
                /*padding: 1rem;*/
                width: 100%;
                height: 100%;
                margin-left: 0%;
                margin-right: 0%;
            }

            [hide] {
                display: none;
                opacity: 0;
            }

            #screen-overlay:not([hide]) {
                transform: translateZ(0);
                animation: fade-in-from-none 0.3s forwards cubic-bezier(.87, -.41, .19, 1.44);
            }

            .focusedEmployee {
                padding-top: 15px;
                background: white;
                align-items: center;
                box-shadow: 5px 0 15px -4px rgba(32, 73, 125, 0.8), -6px 0 8px -4px rgba(31, 73, 125, 0.8);
                position: absolute;
                bottom: 0px;
                /*opacity: 0;*/
                overflow: hidden;
                color: black;
                width: 90%;
                height: 100%;
                margin-left: 5%;
                transform: translate(0%, 100%);
                animation: slide 1s forwards;
            }

            @keyframes slide {
                100% {
                    opacity: 1;
                    transform: translate(0%, 50%);
                }
            }

            .mobileFullScreen {
                transform: translate(0%, 50%);
                animation: top 1s forwards;
            }

            @keyframes top {
                100% {
                    opacity: 1;
                    transform: translate(0%, 20%);
                }
            }
            /* For 1080p apewall */
            /* Slightly more than the maxwidth iframe on http://prototype.apegroup.com/about/ */

            @media (min-width: 1300px) {
                header {
                    display: flex;
                }
                .header-area {
                    display: none;
                }
            }
        </style>
    </template>
</dom-module>